<html>

<head>
    <title>Catalog</title>

    <style>
        html,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            width: 100%;
            height: 100%;
        }

        .header-image {
            width: 100%;
        }

        .image-container {
            width: 50%;
            min-width: 400px;
            padding: 15px;
        }

        .product-header {
            height: 20px;
            border-top: solid 2px #efefef;
        }

        .product-detail-container {
            vertical-align: top;
        }

        .product {
            width: 100%;
            height: auto;
            page-break-inside: avoid;
        }

        .product-name {
            padding: 15px
        }

        .product-price {
            white-space: nowrap;
            padding: 15px;
            text-align: center;
        }

        .product-desc {
            padding: 15px;
            width: 50%;
            font-size: smaller;
        }

        .main-image-container {
            display: flex;
            text-align: center;
        }

        .main-image {
            width: 70%;
            margin: auto;
        }

        .other-image-container {
            width: 100%;
        }

        .other-image-box {
            width: 25%;
            padding: 15px;
            height: 200px;
            float: left;
            text-align: center;
            vertical-align: middle;
            border: solid 1px #efefef;
        }

        .other-image {
            margin: auto;
            width: 70%;
        }

        .name-header {
            color: gray;
            font-size: smaller !important;
            font-weight: lighter !important;
        }

        .name-details {
            height: 5;
            vertical-align: top;
            font-size: smaller !important;
            font-weight: lighter !important;
        }

        .name-detail-name {
            padding: 15px;
            vertical-align: top;
            width: 40%;
            vertical-align: top;
            font-size: smaller !important;
            font-weight: lighter !important;
        }

        .phone {
            padding: 15px;
            font-size: smaller !important;
            font-weight: lighter !important;
        }

        .address {
            height: 100%;
            padding: 15px;
            vertical-align: top;
            font-size: 15px !important;
            font-weight: lighter !important;
        }
    </style>
</head>

<body>
    <table class="container">
        <tr>
            <th colspan="2">
                <img src="images/banner.png" class="header-image">
            </th>
        </tr>
        <tr>
            <td colspan="2" class="name-header">
                <table class="container">
                    <tr class="name-details">
                        <td class="name-detail-name">
                            <p align="left" class="address">
                                <b>&#127970; Address  </b> <br><br>
                                {{ inputData.createdBy.address }}
                            </p>
                        </td>
                        <td>
                            <p align="end" class="phone">
                                +91 {{ inputData.createdBy.contact1 }} &#9742 <br>
                                {{ inputData.createdBy.email }}<b> &#128231;</b>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {{#each inputData.products}}
        <tr>
            <td colspan="2" class="product-header">

            </td>
        </tr>
        <tr class="product-detail-container">
            <td class="main-image-container">
                <img src="{{ product.defaultImage }}" class="main-image">
                <div class="product-price"> &#8377; {{ cost }} </div>
            </td>
            <td>
                <div class="product">
                    <div class="product-name"><b>{{ name }}</b></div>
                    <div class="product-desc">
                        {{{ product.description }}}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="other-image-container">
                {{#each product.images}}
                <div class="other-image-box">
                    <img src="{{ this }}" class="other-image">
                </div>
                {{/each}}
            </td>
        </tr>
        {{/each}}
    </table>
</body>

</html>